# Please rename this file to vars and fill in the variables below

export LAUNCHPAD_ID=""

# Source folder and branch/tag for your juju code. Branch version
# must be the same, major and minor as the juju version in the controller.
export JUJU_SOURCE_FOLDER=""
export JUJU_BRANCH=""

# The machine where you control the juju controller
export BASTION_IP=""

# The controller name
export JUJU_CONTROLLER=""

# The controller IPs (space separated) that you want to debug
export CONTROLLER_IPS=""